<footer class="main-footer">
  <section>
    <section class="row main-footer">
      <div class="large-3 columns">
        <ul>
          <li>Contact</li>
          <li>About</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <h3>Blood Donation</h3>
        <ul>
          <li>Support</li>
          <li>Request blood</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <h3>Camps</h3>
      </div>
      <div class="large-3 columns">
        <h3>Test</h3>
      </div>
    </section>
    <section class="row sub-footer">
      <p>Obbp - A final year project made by Naveen, Anurag, Vishal, Jai Shankar for NIU.</p>
      <p>Full source code <a href="http://github.com/arrc/obbp">github.com/arrc/obbp</a> |
        <a href="http://github.com/arrc/obbp-ios">github.com/arrc/obbp-ios</a>
      </p>
      <p>&copy; 2016 <a href="https://github.com/arrc/obbp">obbp</a></p>
    </section>
  </section>
</footer>
