<footer>
  <div class="main-footer">
    <section class="row">
      <div class="large-3 columns">
        <ul>
          <li ui-sref-active="active" ui-sref="about-us">About us</li>
          <li ui-sref-active="active" ui-sref="contact">Contact</li>
          <!-- <li ui-sref-active="active" ui-sref="faq">FAQ</li> -->
          <li ui-sref-active="active" ui-sref="about-obbp">About obbp</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <h4>Blood donation</h4>
        <ul>
          <li ui-sref-active="active" ui-sref="donate-blood">Donate blood</li>
          <li ui-sref-active="active" ui-sref="make-request">Request blood</li>
          <li ui-sref-active="active" ui-sref="search">Find blood donors</li>
          <li ui-sref-active="active" ui-sref="about-blood-donation">About blood donation</li>
        </ul>
      </div>
      <div class="large-3 columns">
        <h4>Camps</h4>
        <ul>
          <li ui-sref-active="active" ui-sref="camps">Upcoming camps</li>
          <!-- <li>Previous camps</li> -->
          <li ui-sref-active="active" ui-sref="gallery">Organize camp</li>
          <!-- <li ui-sref-active="active" ui-sref="map">Map</li> -->
        </ul>
      </div>
      <div class="large-3 columns">
        <section class="helpline">
          <h4>Emergency helpline</h4>
          <p>011-11221212</p>
          <h4>All india blood bank</h4>
          <p>1800 1200 1200</p>
        </section>
      </div>
    </section>
  </div>
  <div class="sub-footer">
    <section class="row">
      <p>Obbp - A final year project made by Naveen, Anurag, Vishal, Jai Shankar for NIU.</p>
      <p>Full source code <a href="http://github.com/arrc/obbp">github.com/arrc/obbp</a> |
      <a href="http://github.com/arrc/obbp-ios">github.com/arrc/obbp-ios</a></p>
    </section>
  </div>
</footer>
