<section ng-controller="HomeCtrl as vm">
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis tempora fuga eius. Aut dignissimos ut saepe accusantium, necessitatibus assumenda eius odio, delectus explicabo ad quod obcaecati voluptas eaque suscipit?</p>
    <br>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum saepe provident blanditiis, qui, atque repellendus facilis maiores harum quod vitae assumenda quibusdam doloribus dolores nulla sit aliquam voluptatibus, veniam cupiditate incidunt modi. Deserunt ab, error fugiat minima cupiditate libero voluptates illo possimus accusantium eum quas, eaque totam debitis hic id placeat dolore eius amet aut quasi ex ullam commodi, assumenda ea officiis. Maxime distinctio tenetur excepturi deserunt soluta architecto temporibus, officia culpa repellendus, doloribus eum in. Quis, delectus, unde. Laudantium nisi suscipit veritatis voluptates illo, soluta eligendi numquam, iure saepe. Fugiat a, neque repudiandae, praesentium numquam quas reiciendis deserunt pariatur? </p>
  </div>
</section>
