<section ng-controller="HomeCtrl as vm">
  <div class="row">
    <section>
      <h2 class="text-center">Online Blood Bank Project</h2>
      <p class="text-center">The gift of blood is the gift of life. There is no substitute for human blood.</p>
      <img src="images/bg1.jpg" alt="">
    </section>
    <section>
      <p>Blood cannot be manufactured – it can only come from generous donors.</p>
      <p>More than 38,000 blood donations are needed every day.</p>
      <p>Every two seconds someone needs blood.</p>
      <p>Every year our nation requires about 5 Crore units of blood, out of which only a meager 80 Lakh units of blood are available.</p>
    </section>
  </div>
</section>
