<section class="navigation-section contain-to-grid navbar-container" ng-controller="HomeCtrl as vm">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a ui-sref-active="active" ui-sref="home">obbp</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a ng-hide="vm.isAuth" ui-sref-active="active" ui-sref="login-register">Login / Register</a></li>
        <li><a ng-show="vm.isAdmin" ui-sref-active="active" ui-sref="admin.users">Admin panel</a></li>
        <li><a ng-show="vm.isAuth" ui-sref-active="active" ui-sref="profile">profile</a></li>
        <li><a ng-show="vm.isAuth" ng-click="vm.logout()">Logout</a></li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a ui-sref-active="active" ui-sref="search">Donors</a></li>
        <li><a ui-sref-active="active" ui-sref="make-request">Request blood</a></li>
        <li><a ui-sref-active="active" ui-sref="camps">Camps</a></li>
      </ul>
    </section>
  </nav>
</section>
