.ob_footer {
  .columns:first-child {
    margin-top: 45px;
  }
}

footer {
  background: #CA6A6A;
}

.main-footer {
  h4 {
    font-family: 'Lato-Bold', Helvetica, Arial;
    color: #E0CDC7;
  }
  color: #E0CDC7;

  ul li {
    list-style: none;
    font-family: 'Lato-Light', Helvetica, Arial;
    font-size: .9rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: lighten(#E0CDC7, 30);
    }
  }

  .helpline {
    p {
      font-family: 'Arvo', Helvetica, Arial;
    }
  }
}

.sub-footer {
  color: #E0CDC7;
  line-height: 14px;
  background: rgba(215,215,215,0.40);
  text-align: center;

  a {
    color: #E0CDC7;
    text-decoration: underline;
  }

  p {
    font-family: 'Raleway-Light', Helvetica, Arial;
    font-size: .7rem;
    margin-bottom: 5px;
  }
}
