<section>
  <form ng-submit="updateCamp()">

<!-- state -->
    <label>State
      <select ng-model="camp.state">
        <option value=''>Any</option>
        <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
      </select>
    </label>

<!-- address -->
    <label>Address
      <textarea ng-model="camp.address"></textarea>
    </label>

<!-- address -->
    <label>Description
      <textarea ng-model="camp.description"></textarea>
    </label>

<!-- date -->
    <label>Date <small>"DD/MM/YYYY (eg: 21/12/2016)"</small>
      <input type="text" placeholder="DD/MM/YYYY (eg: 21/12/2016)" ng-model="camp.date">
    </label>

<!-- time -->
    <label>Time <small>"HH:MM:AM/PM (eg: 09:45:AM)"</small>
      <input type="text" placeholder="HH:MM:AM/PM (eg: 09:45:AM)" ng-model="camp.time">
    </label>

<!-- submit -->
    <input type="submit" class="button secondary expand small" value="Submit">
  </form>
</section>
