<section class="camp-modal">

  <!-- title -->
  <p class="title">{{ camp.title }}</p>

  <!-- description -->
  <p class="description">{{ camp.description }}</p> <hr>

  <!-- date/time -->
  <div class="clearfix">
    <div class="left date"><i class="fa fa-calendar-o"></i> {{ camp.date }}</div>
    <div class="right time"><i class="fa fa-clock-o"></i> {{ camp.time }}</div>
  </div>

  <!-- address -->
  <address class="address"> <i class="fa fa-map-marker"></i> {{ camp.address }}</address>

</section>
