<section class="row" ng-controller="HomeCtrl as vm">

  <div class="large-4 large-centered columns login-container">
    <h4 class="login-title">Login</h4>
		<form class="login-form" ng-submit="vm.login()">
			<div>
				<input type="text" placeholder="Username" data-ng-model="vm.credentials.username">
			</div>
			<div>
				<input type="password" placeholder="Password" data-ng-model="vm.credentials.password">
			</div>
			<input type="submit" value="Login" class="button tiny expand secondary login-form-button" />
		</form>
    <p class="forgot-password-link"><a ui-sref="password.forgot">Forgot password?</a></p>
    <hr>
    <button class="button tiny expand register-button" ui-sref="register">Register</button>
	</div>


</section>
