<section class="row" ng-controller="UserCtrl as vm">


  <div class="large-8 large-centered columns">
    <h4>Change Password</h4>
    <form ng-submit="vm.changePassword()">
      <!-- Old password -->
      <div class="row">
        <div class="large-6 columns">
          <label>Old password <input type="password" required ng-model="vm.changePasswordData.oldPassword" /></label>
        </div>
        <div class="large-6 columns">
          <label>New password <input type="password" required ng-model="vm.changePasswordData.newPassword" /></label>
        </div>
      </div>
      <!-- Submit button -->
      <div class="row">
        <div class="large-3 large-centered columns">
          <input type="submit" value="Change" class="button expand small success">
        </div>
      </div>
    </form>
  </div>

  <hr>

  <!-- Profile pic -->
  <div class="large-8 large-centered columns">
    <h4>Change profile picture.</h4>
    <form>
      <!-- Old password -->
      <div class="row">
        <div class="large-2 columns user-profile-picture-thumbnail">
          <!-- <img ngf-thumbnail="vm.profileImage.picFile"> -->
          <img ngf-src="vm.profileImage.picFile" ngf-resize="{width: 200, height: 200}">
        </div>
        <div class="large-6 columns">
          <label>Upload new image <input type="file" ngf-select ng-model="vm.profileImage.picFile" name="file" accept="image/*" /></label>
        </div>
      </div>
      <!-- Submit button -->
      <div class="row">
        <div class="large-3 large-centered columns">
          <button ng-click="vm.ngUpload(vm.profileImage.picFile)" class="button expand small success">Upload</button>
        </div>
      </div>
    </form>
  </div>
  <hr>

  <!-- register form -->
  <div class="large-8 large-centered columns">
    <!-- dob, gender, blood-group, weight mobile email address city date-last-donation donation-frequency -->
    <h4>Update</h4>
    <form ng-submit="vm.profileUpdate()">

      <!-- email -->
      <div class="row">
        <div class="large-6 columns">
          <label>Email <input type="email" ng-model="vm.profileData.email" /></label>
        </div>
        <!-- mobile -->
        <div class="large-6 columns">
          <label>Mobile <input type="text" ng-model="vm.profileData.mobile" /></label>
        </div>
      </div>
      <!-- address -->
      <div class="row">
        <div class="large-6 columns">
          <label>Full Address
            <textarea rows="5" ng-model="vm.profileData.address"></textarea>
          </label>
        </div>
        <!-- state -->
        <div class="large-6 columns">
          <label>State
            <select ng-model="vm.profileData.state">
              <option value=''>Any</option>
              <option ng-repeat="state in vm.states" value="{{state}}">{{state}}</option>
            </select>
          </label>
        </div>
        <!-- pincode -->
        <div class="large-6 columns">
          <label>Pincode <input type="text" ng-model="vm.profileData.pincode" /></label>
        </div>
      </div>
      <!-- city -->
      <div class="row">
        <!-- weight -->
        <div class="large-4 columns">
          <label>Weight in Kg's <input type="text" ng-model="vm.profileData.weight" /></label>
        </div>
      </div>
      <!-- Submit button -->
      <div class="row">
        <div class="large-5 large-centered columns">
          <button  class="button small alert">Cancel</button>
          <input type="submit" value="Update" class="button small success">
        </div>
      </div>
    </form>
  </div>
</section>
