<section ng-controller="UserCtrl as vm">

<!-- profile -->
    <div class="row profile-info-header">
      <div class="clearfix profile-info-container">
          <!-- <img class="left pic-image" src="images/user.jpg"> -->
          <img class="left pic-image" ng-src="{{ vm.user.profileImageUrl || 'images/user.jpg'}}">
          <section class="pic-info">
            <h1>{{ vm.user.fullName }}</h1>
            <h4>{{ vm.user.bloodGroup }}</h4>
            <h4>{{ vm.user.state }}</h4>
          </section>
      </div>
      <button class="button tiny secondary profile-edit-button" ui-sref="profile-edit">EDIT</button>
    </div>

<!-- divider -->
    <div class="row profile-divider"></div>

<!-- messages -->
    <div class="row" ng-controller="MessageCtrl as vm" ng-init="vm.retriveMessages()">
      <div class="large-9 large-centered columns all-messages-container">
        <!-- message count -->
        <section class="clearfix amc-title-container">
          <h2 class="left  amc-title">MESSAGES</h2>
          <h2 class="right amc-count">{{ vm.messageCount }}</h2>
        </section>

        <!-- messages list -->
        <section class="messages-list-container">
          <p class="text-center" ng-if="vm.messageCount === 0">There are no messages for you at this moment.</p>
          <section class="mlc-single-message" ng-repeat="message in vm.messages">
            <p class="single-message-text">{{ message.message }}</p>
            <section class="clearfix single-message-meta">
              <p class="left single-message-sender">Sender: {{ message.sender.fullName }}</p>
              <p class="left single-message-date">Date: 12 March, 2016</p>
              <button class="right message-delete-button button tiny secondary"><i class="fa fa-trash"></i></button>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- upcoming camps in user locality -->
    <div class="row">

      <div class="large-9 large-centered columns all-messages-container">
        <hr>
        <section class="clearfix amc-title-container">
          <h2 class="left  amc-title">LOCAL CAMPS</h2>
          <h2 class="right amc-count">{{ camp.length }}</h2>
        </section>
        <ul class="small-block-grid-2 admin-camps-list-container">
          <li  ng-repeat="camp in vm.camps">
            <div class="camp-object">
              <!-- Title -->
              <section class="title">
                <p>{{ camp.title }}</p>
              </section>

              <!-- Description -->
              <!-- <section class="description">
                <p>{{ camp.description }}</p>
              </section> -->

              <!-- Meta tools wrapper -->
              <section class="meta-tools-wrapper clearfix">
                <!-- Meta -->
                <div class="meta left">
                  <!-- state --> <span class="state"><i class="fa fa-map-marker"></i> {{ camp.state }}</span> <br>
                  <!-- date --> <span class="date"><i class="fa fa-calendar-o"></i> {{ camp.date }}</span>
                  <!-- time --> <span class="time"><i class="fa fa-clock-o"></i> {{ camp.time }}</span>
                </div>

                <!-- Tools -->
                <div class="tools right">

                </div>
              </section>
            </div>

          </li>
        </ul>
      </div>
    </div>
    <!-- <hr>  <pre class="row">{{ vm.user | json }}</pre> -->

</section>
