<section class="row" ng-controller="CampCtrl as vm" ng-init="vm.retriveCamps()">
  <div class="large-12 columns admin-camps-container">

    <h3>Camps</h3>
    <p>Upcoming blood donation camps in your area.</p>

    <ul class="small-block-grid-2 admin-camps-list-container">
      <li  ng-repeat="camp in vm.camps">
        <div class="camp-object">
          <!-- Title -->
          <section class="title">
            <p>{{ camp.title }}</p>
          </section>

          <!-- Description -->
          <!-- <section class="description">
            <p>{{ camp.description }}</p>
          </section> -->

          <!-- Meta tools wrapper -->
          <section class="meta-tools-wrapper clearfix">
            <!-- Meta -->
            <div class="meta left">
              <!-- state --> <span class="state"><i class="fa fa-map-marker"></i> {{ camp.state }}</span> <br>
              <!-- date --> <span class="date"><i class="fa fa-calendar-o"></i> {{ camp.date }}</span>
              <!-- time --> <span class="time"><i class="fa fa-clock-o"></i> {{ camp.time }}</span>
            </div>

            <!-- Tools -->
            <div class="tools right">
              <i class="fa fa-folder-open-o" title="View camp detail" ng-click="vm.retriveCamp(camp)"></i>
              <i class="fa fa-edit" title="Edit camp details" ng-click="vm.updateCampModal(camp)"></i>
              <i class="fa fa-trash" title="Delete camp" ng-click="vm.deleteCamp(camp)"></i>
            </div>
          </section>
        </div>

      </li>
    </ul>

  </div>
</section>
