<section ng-controller="AdminRequestsCtrl as vm" ng-init="vm.retriveRequests()">
  <div class="row">
    <h3>requests</h3>
    <table>
      <tbody>
        <tr ng-repeat="request in vm.requests">
          <td width="400">
            <div class="panel">
              <p ng-click="vm.retriveRequest(request)">{{request.user.fullName}}</p>
              <p>{{ request.purpose }}</p>
              <section ng-if="request.remarks">
                <hr>
                <p>{{ request.remarks }}</p>
              </section>
              <div class="clearfix">
                <small class="left label round info">{{ request.status }}</small>
                <button class="left button tiny secondary" ng-click="vm.sendMessage(request)">Message</button>
                <button class="right button tiny" ng-click="vm.deleteRequest(request)">Delete</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
