<section ng-controller="AdminUsersCtrl as vm" ng-init="vm.retriveUsers()">
  <div class="row">
    <div class="large-10 large-centered columns admin-users-container">
      <h3>Users</h3>
      <!-- controls -->
      <section class="auc-controls clearfix">
        <div class="left">
          <input type="text" class="aut-controls-search" ng-model="vm.userSearch" placeholder="Search users">
        </div>
        <div class="right">
          <!-- <ul class="button-group toggle auc-controls-toggles" data-toggle="buttons-radio">
            <li>
              <input type="radio" id="auc-all-users" name="r-group" data-toggle="button">
              <label class="button tiny" for="auc-all-users">All</label>
            </li>
            <li>
              <input type="radio" id="auc-inactive-users" name="r-group" data-toggle="button">
              <label class="button tiny" for="auc-inactive-users">Inactive</label>
            </li>
          </ul> -->
        </div>
      </section>

      <ul class="small-block-grid-2 admin-users-list-container">
        <li ng-repeat="user in vm.users | filter:vm.userSearch">
          <!-- user object -->
          <div class="aulc-user-object clearfix">
            <!-- profile pic -->
            <section class="aulc-uo-profile-pic left">
              <img class="pic-image" src="images/user.jpg">
            </section>
            <!-- details wrapper -->
            <section class="aulc-uo-details-wrapper right">
              <!-- info -->
              <div class="aulc-uo-info">
                <p>{{ user.fullName}}</p>
                <p>{{ user.username}}</p>
                <p>{{ user.bloodGroup}}</p>
              </div>
              <!-- tools -->
              <div class="aulc-uo-tools">
                <i class="fa fa-edit" title="Edit user" ng-click="vm.retriveUser(user)"></i>
                <i class="fa fa-envelope" title="Send message" ng-click="vm.sendMessage(user)"></i>
                <i class="fa fa-trash" title="Delete user" ng-click="vm.deleteUser(user)"></i>
              </div>
            </section>
          </div>
        </li>
      </ul>
      <!-- users list -->
      <section>
        <!-- <p ng-click="vm.retriveUser(user)">{{ user.fullName}}</p>
        <div class="clearfix">
          <button class="left button tiny secondary" ng-click="vm.sendMessage(user)">Message</button>
          <button class="right button tiny warn" ng-click="vm.deleteUser(user)">Delete</button>
        </div> -->



      </section>
    </div>
  </div>
</section>
