@font-face {
  font-family: 'Arvo';
  src: url("../fonts/Arvo/Arvo-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato/Lato-Bold.ttf"); }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato/Lato-Light.ttf"); }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway/Raleway-Bold.ttf"); }

@font-face {
  font-family: 'Raleway-Light';
  src: url("../fonts/Raleway/Raleway-Light.ttf"); }

body {
  background: #F2F2F2; }

.main-content-container {
  min-height: 400px; }
  .main-content-container p, .main-content-container h1, .main-content-container h2, .main-content-container h3, .main-content-container h4 {
    color: rgba(34, 34, 34, 0.6); }

pre {
  color: grey;
  font-size: .8rem; }

.ob_global h2 {
  font-family: 'Raleway'; }

.ob_global p {
  font-family: 'Arvo'; }

.ob_margin {
  margin: 30px; }

label {
  text-transform: uppercase;
  color: #A34C4C;
  font-family: 'Lato-Bold', Helvetica, Arial; }

input[type="radio"] + label {
  text-transform: capitalize;
  color: gray;
  font-family: 'Lato', Helvetica, Arial; }

input[type="text"], input[type="password"], input[type="email"], select, textarea, input[type="submit"], input[type="cancel"] {
  font-family: 'Raleway', Helvetica, Arial;
  border-color: #D0C9C9;
  border-width: 2px;
  font-size: 16px;
  height: 40px; }

.ob_home {
  margin-top: -50px; }

.ob_home .row {
  padding-top: 20px;
  background-color: white; }

.navbar-container {
  margin-bottom: 50px; }

nav.top-bar li a {
  text-transform: uppercase; }

.ob_footer .columns:first-child {
  margin-top: 45px; }

footer {
  background: #CA6A6A; }

.main-footer {
  color: #E0CDC7; }
  .main-footer h4 {
    font-family: 'Lato-Bold', Helvetica, Arial;
    color: #E0CDC7; }
  .main-footer ul li {
    list-style: none;
    font-family: 'Lato-Light', Helvetica, Arial;
    font-size: .9rem; }
    .main-footer ul li:hover {
      cursor: pointer;
      text-decoration: underline;
      color: white; }
  .main-footer .helpline p {
    font-family: 'Arvo', Helvetica, Arial; }

.sub-footer {
  color: #E0CDC7;
  line-height: 14px;
  background: rgba(215, 215, 215, 0.4);
  text-align: center; }
  .sub-footer a {
    color: #E0CDC7;
    text-decoration: underline; }
  .sub-footer p {
    font-family: 'Raleway-Light', Helvetica, Arial;
    font-size: .7rem;
    margin-bottom: 5px; }

.auc-controls {
  margin-bottom: 20px; }
  .auc-controls input[data-toggle] {
    display: none; }
  .auc-controls input[type="radio"] + label {
    text-transform: capitalize;
    color: white;
    font-family: 'Lato', Helvetica, Arial; }
  .auc-controls input[data-toggle]:checked + label,
  .auc-controls input[data-toggle]:checked + label:active {
    background-color: salmon;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }
  .auc-controls .button-group.toggle li:not(first-child) {
    margin: 0 -0.9rem; }

.admin-users-list-container .aulc-user-object {
  background-color: #D3C3C0;
  height: 140px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px; }
  .admin-users-list-container .aulc-user-object .aulc-uo-profile-pic {
    width: 40%; }
    .admin-users-list-container .aulc-user-object .aulc-uo-profile-pic .pic-image {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      border: 2px solid gray; }
  .admin-users-list-container .aulc-user-object .aulc-uo-details-wrapper {
    width: 60%; }
    .admin-users-list-container .aulc-user-object .aulc-uo-details-wrapper .aulc-uo-info p {
      margin-bottom: 5px; }
    .admin-users-list-container .aulc-user-object .aulc-uo-details-wrapper .aulc-uo-tools {
      margin-left: 55%; }
      .admin-users-list-container .aulc-user-object .aulc-uo-details-wrapper .aulc-uo-tools i {
        padding: 5px;
        color: gray;
        font-size: 20px; }
      .admin-users-list-container .aulc-user-object .aulc-uo-details-wrapper .aulc-uo-tools i:hover {
        color: #afafaf;
        cursor: pointer; }

.requests-title-area {
  margin-bottom: 20px; }
  .requests-title-area input[data-toggle] {
    display: none; }
  .requests-title-area input[type="radio"] + label {
    text-transform: capitalize;
    color: white;
    font-family: 'Lato', Helvetica, Arial; }
  .requests-title-area input[data-toggle]:checked + label,
  .requests-title-area input[data-toggle]:checked + label:active {
    background-color: salmon;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }
  .requests-title-area .button-group.toggle li:not(first-child) {
    margin: 0 -0.9rem; }

.request-object {
  background-color: #fff;
  margin-bottom: 5px; }
  .request-object .purpose {
    margin-top: 10px; }
    .request-object .purpose p {
      margin-bottom: 5px;
      font-size: 16px;
      color: gray;
      font-family: 'Lato', Helvetica, Arial; }
  .request-object .message {
    color: #999999; }
    .request-object .message p {
      margin-bottom: 3px;
      font-family: 'Raleway', Helvetica, Arial;
      font-size: 14px; }
  .request-object .meta-tools-wrapper {
    margin-top: 30px; }
    .request-object .meta-tools-wrapper .meta i {
      color: #9a8079;
      margin-right: 5px;
      font-size: 16px; }
    .request-object .meta-tools-wrapper .meta span {
      display: inline-block;
      color: #C6B7B3;
      font-family: 'Lato-Light', Helvetica, Arial;
      font-size: 14px;
      margin-right: 10px; }
    .request-object .meta-tools-wrapper .meta .sender {
      width: 150px; }
    .request-object .meta-tools-wrapper .meta .blood-group {
      width: 50px; }
    .request-object .meta-tools-wrapper .meta .state {
      width: 150px; }
    .request-object .meta-tools-wrapper .meta .date, .request-object .meta-tools-wrapper .meta .status {
      width: 100px; }
    .request-object .meta-tools-wrapper .tools i {
      color: #C6B7B3;
      margin-right: 5px;
      font-size: 20px; }
    .request-object .meta-tools-wrapper .tools i:hover {
      color: #dcd3d0;
      cursor: pointer; }

.camp-object {
  background-color: #fff;
  padding: 5px 10px; }
  .camp-object .title {
    height: 50px;
    margin-top: 10px; }
    .camp-object .title p {
      margin-bottom: 5px;
      font-size: 16px;
      color: gray;
      font-family: 'Lato', Helvetica, Arial; }
  .camp-object .meta-tools-wrapper {
    margin-top: 30px; }
    .camp-object .meta-tools-wrapper .meta i {
      color: #9a8079;
      margin-right: 5px;
      font-size: 16px; }
    .camp-object .meta-tools-wrapper .meta span {
      display: inline-block;
      color: #C6B7B3;
      font-family: 'Lato-Light', Helvetica, Arial;
      font-size: 14px;
      margin-right: 10px; }
    .camp-object .meta-tools-wrapper .meta .date, .camp-object .meta-tools-wrapper .meta .time {
      width: 100px; }
    .camp-object .meta-tools-wrapper .tools {
      margin-top: 25px; }
      .camp-object .meta-tools-wrapper .tools i {
        color: #C6B7B3;
        margin-right: 5px;
        font-size: 20px; }
      .camp-object .meta-tools-wrapper .tools i:hover {
        color: #dcd3d0;
        cursor: pointer; }

.camp-modal {
  color: #C6B7B3;
  font-size: 14px;
  font-family: 'Raleway', Helvetica, Arial; }
  .camp-modal .title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    color: gray;
    font-family: 'Lato', Helvetica, Arial; }
  .camp-modal .description {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #999;
    font-family: 'Raleway', Helvetica, Arial; }

@font-face {
  font-family: 'Arvo';
  src: url("../fonts/Arvo/Arvo-Regular.ttf"); }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato/Lato-Bold.ttf"); }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato/Lato-Light.ttf"); }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway/Raleway-Bold.ttf"); }

@font-face {
  font-family: 'Raleway-Light';
  src: url("../fonts/Raleway/Raleway-Light.ttf"); }

body {
  background: #F2F2F2; }

.main-content-container {
  min-height: 400px; }
  .main-content-container p, .main-content-container h1, .main-content-container h2, .main-content-container h3, .main-content-container h4 {
    color: rgba(34, 34, 34, 0.6); }

pre {
  color: grey;
  font-size: .8rem; }

.login-container {
  margin-top: 50px; }
  .login-container .login-title {
    text-align: center; }

.forgot-password-link {
  text-align: center; }
  .forgot-password-link a {
    color: #9B9B9B;
    font-family: 'Lato', Helvetica, Arial; }

.register-button {
  font-family: 'Raleway', Helvetica, Arial;
  border-color: #D0C9C9;
  border-width: 2px;
  padding-top: 7px;
  font-size: 16px;
  height: 40px;
  background-color: #D2E3C0;
  color: #A34C4C; }
  .register-button:focus {
    border-color: #9C9191;
    border-width: 2px;
    font-size: 16px;
    height: 40px;
    color: #A34C4C; }

.login-form input[type="submit"] {
  color: #A34C4C;
  padding-top: 7px;
  font-family: 'Raleway', Helvetica, Arial;
  margin-bottom: 0; }

.login-form input[type="text"], .login-form input[type="password"], .login-form select, .login-form textarea, .login-form input[type="submit"] {
  font-family: 'Raleway', Helvetica, Arial;
  border-color: #D0C9C9;
  border-width: 2px;
  font-size: 16px;
  height: 40px; }

.login-form input[type="text"]:focus,
.login-form select:focus,
.login-form input[type="submit"]:focus {
  border-color: #9C9191;
  border-width: 2px;
  font-size: 16px;
  height: 40px; }

.ob_register input[type="cancel"], .ob_register input[type="submit"] {
  width: 120px !important; }

.forgot-password-container {
  margin-top: 50px; }
  .forgot-password-container input[type="submit"] {
    padding-top: 7px; }
  .forgot-password-container input[type="text"], .forgot-password-container input[type="submit"] {
    font-family: 'Raleway', Helvetica, Arial;
    border-color: #D0C9C9;
    border-width: 2px;
    font-size: 16px;
    height: 40px; }
  .forgot-password-container input[type="text"]:focus,
  .forgot-password-container input[type="submit"]:focus {
    border-color: #9C9191;
    border-width: 2px;
    font-size: 16px;
    height: 40px; }

.ob_profile_edit--cancel {
  padding: 13px !important; }

.ob_profile_edit--update {
  padding: 10px !important; }

.profile-divider {
  height: 50px;
  background-color: #DDD5D3; }

.profile-info-header {
  background-color: #F5F5F5;
  height: 200px;
  position: relative; }
  .profile-info-header .profile-info-container {
    width: 700px;
    margin: 20px 150px; }
  .profile-info-header .pic-image {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid gray; }
  .profile-info-header .pic-info {
    margin-left: 170px; }
    .profile-info-header .pic-info h1, .profile-info-header .pic-info h4 {
      color: #C8B6B2;
      margin-bottom: 0; }
    .profile-info-header .pic-info h1 {
      font-family: 'Lato', Helvetica, Arial; }
    .profile-info-header .pic-info h4 {
      font-family: 'Raleway', Helvetica, Arial; }
  .profile-info-header .profile-edit-button {
    font-family: 'Lato-Bold', Helvetica, Arial;
    background: #DCD5D3;
    color: #C8B6B2;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    top: 40px;
    right: 0px; }

.all-messages-container .amc-title-container {
  margin: 10px 0; }
  .all-messages-container .amc-title-container h2 {
    color: #999999;
    font-weight: bold;
    font-family: 'Lato-Bold', Helvetica, Arial; }
  .all-messages-container .amc-title-container .amc-count {
    background: #D8D8D8;
    width: 50px;
    text-align: center; }

.messages-list-container {
  background: #fff; }
  .messages-list-container .mlc-single-message {
    margin-bottom: 5px; }
    .messages-list-container .mlc-single-message .single-message-text {
      font-family: 'Raleway', Helvetica, Arial;
      font-size: 15px;
      line-height: 19px;
      color: #999999;
      padding: 10px;
      margin-bottom: 0; }
    .messages-list-container .mlc-single-message .single-message-meta p {
      color: #C6B7B3;
      font-family: 'Lato-Light', Helvetica, Arial;
      font-size: 0.8rem;
      margin-bottom: 0; }
    .messages-list-container .mlc-single-message .single-message-meta .single-message-sender {
      margin-left: 10px;
      max-width: 200px; }
    .messages-list-container .mlc-single-message .single-message-meta .single-message-date {
      margin-left: 50px; }
    .messages-list-container .mlc-single-message .single-message-meta .message-delete-button {
      padding: 5px;
      width: 50px;
      margin-bottom: 5px;
      background: #DCD5D3;
      color: #C8B6B2;
      font-size: 16px;
      line-height: 12px; }

.blood-request-container {
  margin-top: 50px; }

.blood-request-title {
  text-align: center; }

.blood-request-form input[type="submit"] {
  padding-top: 7px;
  font-family: 'Raleway', Helvetica, Arial; }

.blood-request-form input[type="text"], .blood-request-form select, .blood-request-form textarea, .blood-request-form input[type="submit"] {
  font-family: 'Raleway', Helvetica, Arial;
  border-color: #D0C9C9;
  border-width: 2px;
  font-size: 16px;
  height: 40px; }

.blood-request-form textarea.message {
  height: 150px; }

.blood-request-form input[type="text"]:focus,
.blood-request-form select:focus,
.blood-request-form input[type="submit"]:focus {
  border-color: #9C9191;
  border-width: 2px;
  font-size: 16px;
  height: 40px; }

.blood-request-form label {
  text-transform: uppercase;
  color: #A34C4C;
  font-family: 'Lato-Bold', Helvetica, Arial; }

.search-divider {
  height: 50px;
  background-color: #DDD5D3; }

.search-container {
  background: #F5F5F5;
  height: 150px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.search-form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .search-form input[type="submit"] {
    padding-top: 7px;
    font-family: 'Raleway', Helvetica, Arial; }
  .search-form input[type="text"], .search-form select, .search-form input[type="submit"] {
    font-family: 'Raleway', Helvetica, Arial;
    border-color: #D0C9C9;
    border-width: 2px;
    font-size: 16px;
    height: 40px; }
  .search-form input[type="text"]:focus,
  .search-form select:focus,
  .search-form input[type="submit"]:focus {
    border-color: #9C9191;
    border-width: 2px;
    font-size: 16px;
    height: 40px; }
  .search-form label {
    text-transform: uppercase;
    color: #A34C4C;
    font-family: 'Lato-Bold', Helvetica, Arial; }

.user-profile-container {
  width: 230px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer; }
  .user-profile-container .upc-pic {
    padding-top: 10px;
    background: #EEDCDC; }
    .user-profile-container .upc-pic img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 2px solid gray; }
    .user-profile-container .upc-pic p {
      margin-bottom: 0;
      color: #8B572A;
      font-family: 'Raleway-Bold', Helvetica, Arial; }
  .user-profile-container .upc-info {
    padding: 10px;
    background: #D3C3C0;
    color: #fff;
    font-family: 'Raleway', Helvetica, Arial; }
    .user-profile-container .upc-info p {
      margin-bottom: 0; }
  .user-profile-container .upc-message {
    background: #A95252; }
    .user-profile-container .upc-message p {
      margin-top: 0;
      color: #E6E0E0;
      font-family: 'Lato', Helvetica, Arial; }
      .user-profile-container .upc-message p i {
        margin-right: 5px; }
