.main-footer {
  background-color: #CA6A6A;
  color: #E0CDC7;

  a {
    color: #E0CDC7;
  }

  .sub-footer {
    background-color: rgba(216, 216, 216, 0.4);
  }
}

// .main-footer > .sub-footer {
//   background-color: rgba(216, 216, 216, 40);
//   // color: #E0CDC7
// }
