label {
  text-transform: uppercase;
  color: #A34C4C;
  font-family: 'Lato-Bold', Helvetica, Arial;
}

input[type="radio"] + label {
  text-transform: capitalize;
  color: gray;
  font-family: 'Lato', Helvetica, Arial;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea, input[type="submit"], input[type="cancel"] {
  font-family: 'Raleway', Helvetica, Arial;
  border-color: #D0C9C9;
  border-width: 2px;
  font-size: 16px;
  height: 40px;
}
