// Arvo
@font-face {
  font-family: 'Arvo';
  src: url('../fonts/Arvo/Arvo-Regular.ttf');
}

// Lato
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

// Raleway
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

// Raleway bold
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway/Raleway-Bold.ttf');
}

body {
  background: #F2F2F2;
}

.main-content-container {
  p,h1,h2,h3,h4 {
    color: rgba(34,34,34, 0.6);
  }
  min-height: 400px;
}

pre {
  color: grey;
  font-size: .8rem;
}
