.ob_profile_edit--cancel {
  padding: 13px !important;
}

.ob_profile_edit--update {
  padding: 10px !important;
}

.profile-divider {
  height: 50px;
  background-color: #DDD5D3;
}

.profile-info-header {
  background-color: #F5F5F5;
  height: 200px;
  position: relative;

  .profile-info-container {
    width: 700px;
    margin: 20px 150px;
  }

  .pic-image {
      width: 150px;
      height: 150px;
      border-radius: 75px;
      border: 2px solid gray;
  }

  .pic-info {
    margin-left: 170px;

    h1, h4 {
      color: #C8B6B2;
      margin-bottom: 0;
    }

    h1 {
      font-family: 'Lato', Helvetica, Arial;
    }

    h4 {
      font-family: 'Raleway', Helvetica, Arial;
    }
  }

  .profile-edit-button {
    font-family: 'Lato-Bold', Helvetica, Arial;
    background: #DCD5D3;
    color: #C8B6B2;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    top: 40px;
    right: 0px;
  }
}

.all-messages-container {

  .amc-title-container {
    margin: 10px 0;
    h2 {
      color: #999999;
      font-weight: bold;
      font-family: 'Lato-Bold', Helvetica, Arial;
    }

    .amc-count {
      background: #D8D8D8;
      width: 50px;
      text-align: center;
    }
  }
}

.messages-list-container {
  background: #fff;

  .mlc-single-message {
    margin-bottom: 5px;
    .single-message-text {
      font-family: 'Raleway', Helvetica, Arial;
      font-size: 15px;
      line-height: 19px;
      color: #999999;
      padding: 10px;
      margin-bottom: 0;
    }

    .single-message-meta {

      p {
        color: #C6B7B3;
        font-family: 'Lato-Light', Helvetica, Arial;
        font-size: 0.8rem;
        margin-bottom: 0;
      }

      .single-message-sender {
        margin-left: 10px;
        max-width: 200px;
      }

      .single-message-date {
        margin-left: 50px;
      }

      .message-delete-button {
        padding: 5px;
        width: 50px;
        margin-bottom: 5px;
        background: #DCD5D3;
        color: #C8B6B2;
        font-size: 16px;
        line-height: 12px;
      }
    }
  }
}
