.search-divider {
  font-family: 'Raleway', Helvetica, Arial;
  height: 50px;
  line-height: 50px;
  background-color: #DDD5D3;
}

.search-container {
  background: #F5F5F5;
  height: 150px;
  position: relative; // zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.search-form {

  // zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  input[type="submit"] {
    padding-top: 7px;
    font-family: 'Raleway', Helvetica, Arial;
  }

  input[type="text"],select,input[type="submit"] {
    font-family: 'Raleway', Helvetica, Arial;
    border-color: #D0C9C9;
    border-width: 2px;
    font-size: 16px;
    height: 40px;
  }

  input[type="text"]:focus,
  select:focus,
  input[type="submit"]:focus {
    border-color: #9C9191;
    border-width: 2px;
    font-size: 16px;
    height: 40px;
  }

  label {
    text-transform: uppercase;
    color: #A34C4C;
    font-family: 'Lato-Bold', Helvetica, Arial;
  }
}

// USER PROFILE
.user-profile-container {
  width: 230px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;

  .upc-pic {
    padding-top: 10px;
    background: #EEDCDC;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 2px solid gray;
    }

    p {
      margin-bottom: 0;
      color: #8B572A;
      font-family: 'Raleway-Bold', Helvetica, Arial;
    }
  }

  .upc-info {
    padding: 10px;
    background: #D3C3C0;
    color: #fff;
    font-family: 'Raleway', Helvetica, Arial;

    p {
      margin-bottom: 0;
    }
  }

  .upc-message {
    background: #A95252;


    p {
      margin-top: 0;
      color: #E6E0E0;
      font-family: 'Lato', Helvetica, Arial;

      i {
        margin-right: 5px;
      }

    }
  }
}
